{% extends 'base.html' %}

{% block content %}
<br>
  <h2 class="my-3 text-center">Registered <strong>Patients</strong> </h2>
  <hr>
  <div class="container w-100 text-center align-content-center justify-content-md-center ">
    <table id="patients" class="table table-responsive table-active table-bordered table-hover">
      <thead class=" thead-dark ">
        <tr>
          <th>S/N</th>
          <th>Name</th>
          <th>Email Address</th>
          <th>Address</th>
          <th>Date of Birth</th>
          <th>Ailment</th>
          <th>Registered</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for val in accounts_get %}
        <tr class=" table-row">
          <td class="align-middle">{{ val.id }} </td>
          <td class="align-middle">{{ val.name }} </td>
          <td class="align-middle">{{ val.email }} </td>
          <td class="align-middle">{{ val.address }} </td>
          <td class="align-middle">{{ val.dob }} </td>
          <td class="align-middle">{{ val.diseased }} </td>
          <td class="align-middle">{{ val.created_at }} </td>
          <td class="align-middle">
            <i class="text-dark fa fa-edit px-4"></i>
            <i class="text-dark fa fa-times"></i>
          </td>
        </tr>
      {%endfor%}
      </tbody>

    </table>
  
  </div>
    
    
{% endblock %}