{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome to Medic{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->

    <!-- <link rel="stylesheet" href="{% static 'css/linearicons.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css"> 
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}"> -->
    
    
    <!-- <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/nice-select.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css' %}"> -->
    

    {% block stylesheet %}{% endblock %}  <!-- HERE -->
  </head>
  <!-- Header -->
  <header class="default-header">
    <div class="container">
      <div class="header-wrap">
        <div class="header-top d-flex justify-content-between align-items-center">
          <div class="logo">
            <h3>eHealth Medic</h3>
            <small>Health IT for the planet</small>
          </div>
          <div class="main-menubar d-flex align-items-center">
            <nav class=" ">
              <a href="/#home">Home</a>
              
              <a href="/#sign-up">EMR for Patients</a>
              
              
              <a href="/signup/doctors/">
                <button class="btn btn-sm btn-outline-primary">
                  <i class="fa fa-lock"></i>
                  DOCTOR
                </button>
              </a>
            </nav>
            <div class="menu-bar"><span class=""></span></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Header -->


    <body class="my-5">
    {% block body %}  <!-- HERE -->
      <div class="my-5" >
        <ol class="breadcrumb my-5">
          {% block breadcrumb %}
          {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
      </div>
    {% endblock body %} 

    <!-- footer -->
    <footer class="mt-4 footer-area section-gap">
        <div class="container">
          <div class="row footer-bottom d-flex justify-content-end">
            
            <p class="col-lg-8 footer-text">
              Copyright; 
            </p>
            <div class="col-lg-4 d-flex justify-content-end col-sm-12 footer-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer -->


    <script type="text/javascript" src="{% static 'js/vendor/jquery-2.2.4.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/vendor/bootstrap.min.js' %}" ></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    
      
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script> -->


  </body>
</html>