{% extends 'base.html' %}

{% block content %}
  <!-- <h2>Sign up</h2> -->

  <section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-center">
          <div class="banner-content col-lg-6 col-md-12">
            <h1 class="text-uppercase">
              We are the team <br>
              of excellence
            </h1>
            <p>Get registered to enjoy our e-Health platform</p>
            <a href="#sign-up">
                <button class="btn btn-outline-primary mt-20 text-uppercase ">Get Started</button>
            </a> 
          </div>
          <div class="col-lg-6 d-flex align-self-end img-right">
              
            <img class="img-fluid" src="static/img/header_img.png" alt="" />
          </div>
        </div>
    </div>
  </section>

  <section class="about-area" id="sign-up">
      <div class="container-fluid">
        <div class="row d-flex justify-content-end align-items-center">
          <div class="col-lg-6 col-md-12 about-left no-padding">
            <img class="img-fluid" src="static/img/about-img.jpg" alt="">
          </div>
            <div class="pt-1 col-lg-6 col-md-12 about-right no-padding">
              <a href="#sign-up"> 
                <h2>USERS SIGN UP</h2>
                <p class="text-white">Need access to on-demand health care
                  with the best health facility at your finger tips?
                </p>
                <p class="text-white">Supply your details to the Electronic Medical Records</p>
                <a target="_blank" href="http://ehealth4everyone.com/products-and-services/#1441193343680-8afe6f85-6f63">
                  Read more
                </a>
                <hr>
                <a href="/signup/patients/">
                <button class="btn btn-outline-primary text-white btn-block">
                  Get Registered
                </button>
                </a>
                <hr>
                Something for everyone in the spectrum of care
                <hr>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>




{% endblock %}